<a href="https://colab.research.google.com/github/khee11/testrepository/blob/main/R_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title

내용

In [ ]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ stringr 1.4.0
✔ tidyr   1.1.3     ✔ forcats 0.5.1
✔ readr   2.0.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
1+1

[1] 2

In [ ]:
a = c(1,2,3,4)

In [13]:
system("gdown --id 11miKcWwmPLVOhQVEKbUsrSpt1chsUKIZ")

In [20]:
data = read.csv("extxt.csv")

In [18]:
system("gdown --id 1Lwhyw7dHJ0Cy_iYUeKiXAQxO9EBkVuPG")

In [21]:
data2 = read.table("extxt.txt")

In [22]:
head(data)

  a
1 1
2 2
3 3
4 4